@mixin phone {
    @media screen and (min-width: 0px) and (max-width: 767px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 1366px) {
        @content;
    }
}
@mixin laptop-min {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: 1367px) {
        @content;
    }
}

// Navbar
nav {
    a.navbar-brand {
        @include phone {
            img {
                width: 100px;
            }
        }

    }
}

// Header: Project DAPO
.header.container-fluid {
    @include phone {
        padding: 35px;
        height: 900px;
        padding-top: 50px;
    }

    @include tablet {
        padding: 105px;
    }

    @include desktop {
        padding: 100px;
    }

    background: beige;
    height: 480px;
    overflow: hidden;
    // The Play Store button
    img.ps-btn {
        @include phone {
            width: 200px;
        }

        margin-left: -10px;
    }

}

.about-this-project {
    @include phone {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include tablet {
        padding: 100px;
    }
}

// The container which the YouTube video is embedded
div.video {
    .borderless td,
    .borderless th {
        border: none;
    }


    iframe {
        @include phone {
            width: 270px;
            padding-top: 50px;
            margin-bottom: 30px;
        }

        @include tablet {
            width: 590px !important;
            height: 320px !important;
        }

        @include laptop-min {
            width: 690px;
            height: 400px;
        }
    }

    div.row {
        .caption {
            @include desktop {
                vertical-align: middle;
            }

            @include phone {
                padding: 25px;
            }

            @include tablet {
                padding-top: 25px;
            }

            h2 {
                margin-bottom: 20px;
            }

            @include laptop-min {
                width: 750px;
                vertical-align: middle;
            }

        }
    }
}

// The footer
footer {
    @include laptop-min {
        padding: 0px 50px 0px 50px;
    }
}



/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    width: 100%;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}