@mixin phone {
    @media screen and (min-width: 0px) and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 1366px) {
        @content;
    }
}

@mixin laptop-min {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1367px) {
        @content;
    }
}

nav {
    a.navbar-brand {
        @include phone {
            img {
                width: 100px;
            }
        }

    }
}

.header.container-fluid {
    @include phone {
        padding: 35px;
        height: 900px;
        padding-top: 50px;
    }

    @include tablet {
        padding: 105px;
    }

    @include desktop {
        padding: 100px;
    }

    background: whitesmoke;
    height: 480px;
    overflow: hidden;
}

img.ps-btn {
    @include phone {
        width: 200px;
    }

    margin-left: -10px;
}

div.video {
    .borderless td,
    .borderless th {
        border: none;
    }


    iframe {
        @include phone {
            width: 270px;
            padding-top: 50px;
            margin-bottom: 30px;
        }

        @include tablet {
            width: 590px !important;
            height: 320px !important;
        }

        @include laptop-min {
            width: 690px;
            height: 400px;
        }
    }

    div.row {
        .caption {
            @include desktop {
                vertical-align: middle;
            }

            @include phone {
                padding: 25px;
            }

            @include tablet {
                padding-top: 25px;
            }

            h2 {
                margin-bottom: 20px;
            }

            @include laptop-min {
                width: 750px;
                vertical-align: middle;
            }

        }
    }
}

footer {
    @include laptop-min {
        padding: 0px 50px 0px 50px;
    }
}