@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@media screen and (min-width: 0px) and (max-width: 767px) {
  nav a.navbar-brand img {
    width: 100px;
  }
}

.header.container-fluid {
  background: beige;
  height: 480px;
  overflow: hidden;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .header.container-fluid {
    padding: 35px;
    height: 900px;
    padding-top: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1366px) {
  .header.container-fluid {
    padding: 105px;
  }
}
@media screen and (min-width: 1367px) {
  .header.container-fluid {
    padding: 100px;
  }
}
.header.container-fluid img.ps-btn {
  margin-left: -10px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .header.container-fluid img.ps-btn {
    width: 200px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .about-this-project {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1366px) {
  .about-this-project {
    padding: 100px;
  }
}

div.video .borderless td,
div.video .borderless th {
  border: none;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  div.video iframe {
    width: 270px;
    padding-top: 50px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1366px) {
  div.video iframe {
    width: 590px !important;
    height: 320px !important;
  }
}
@media screen and (min-width: 768px) {
  div.video iframe {
    width: 690px;
    height: 400px;
  }
}
@media screen and (min-width: 1367px) {
  div.video div.row .caption {
    vertical-align: middle;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  div.video div.row .caption {
    padding: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1366px) {
  div.video div.row .caption {
    padding-top: 25px;
  }
}
div.video div.row .caption h2 {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  div.video div.row .caption {
    width: 750px;
    vertical-align: middle;
  }
}

@media screen and (min-width: 768px) {
  footer {
    padding: 0px 50px 0px 50px;
  }
}

/* FontAwesome for working BootSnippet :> */
#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: 0.25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px #9e9e9e;
  -moz-box-shadow: 5px 7px 9px -4px #9e9e9e;
  box-shadow: 5px 7px 9px -4px #9e9e9e;
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  width: 100%;
}

.frontside .card,
.backside .card {
  min-height: 245px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/*# sourceMappingURL=App.css.map */
